.navbar__container{
    background-color: #fff;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    max-width: 1500px;
    height: 60px;
    text-align: center;
    box-shadow: 0 0 15px 0 #808080;


}

.navbar__container p{
    float: right;
    margin: 10px 10rem 0 ;
    font-size: 1.5rem;
    color: #0e8a5e;
    font-weight: 600;
    font-family: Reggae One;
    
   

}

.side__Nav{
    
    align-items: center;
    background-color: #fff;
    padding-left: 20px;
    position: fixed;
    padding-bottom: 5rem;
    box-shadow: 0 0 15px 0 #fff;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
     height: 500px;
     position: relative;
     overflow: auto;
     z-index: 1;
  }
  
  li a {
    display: block;
    color:  #808080;
    padding: 30px 16px;
    text-decoration: none;
    opacity: inherit;
    position: relative;
    font-weight:600;
    font-size: 1.2rem;
  }

  .settings{
    display: block;
    color:  #808080;
    padding: 30px 16px;
    text-decoration: none;
    opacity: inherit;
    position: relative;
    font-weight:600;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .profile__setting, .bank__setting{
    font-size: smaller;
  }

  .sidenav__image{
      width: 250px;
      padding: 10px 20px;
      
  }
  
 
  .dashboard__container__container{
      display: flex;
      flex-direction: row;
      background-color: #E5E5E5;;
      height: auto;
      
  }

  .dashboards{
      width: 1000px;
      margin-left: 20rem;
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

}

.dashboard__medle__items{
    /* text-align: center; */
    justify-content: space-between;
}
.card1 {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 3rem;
    cursor: pointer;
    text-decoration-line: none

}
.card1:hover{
    transform: scale(1.06);
    transition: all 0.2s linear;
}

.cardText{
    margin-right: 30px;
    margin-top: 2rem;
    width: 500px;
    text-decoration: none;
}
.card1 h3{
    color: #0e8a5e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
}

.card1 p{
    color:  #6D6D6D;
    text-decoration: none;
}

.card2 {
    display: flex;
    flex-direction: row;
    background-color: #E0FFE7;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 3rem;
    cursor: pointer;

}
.card2:hover{
    transform: scale(1.06);
    transition: all 0.2s linear;
}
.card__image{
    width: 300px;
}
.cardText{
    margin-right: 30px;
    margin-top: 2rem;
    width: 500px;
}
.card2 h3{
    color: #0e8a5e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;

}

.card2 p{
    color: #6D6D6D;
    ;
}
.card3 {
    display: flex;
    flex-direction: row;
    background-color: #B7FEA5;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 3rem;
    cursor: pointer;

}
.card3:hover{
    transform: scale(1.06);
    transition: all 0.2s linear;
}


.card3 h3{
    color: #0e8a5e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;

}


.header_container{
    align-content: center; 
}

.middle_first{
    color: #0e8a5e;
    padding: 1rem 0 0 1rem;
}
.middle_first p{
    color: #000;
    margin-right: 30px;
    font-weight: 700;
    font-family: Ruluko;
    padding: 5px 0 0 5px;
    font-size: 1.8rem;
}
.middle_first h1{
    font-family: Sen;
    font-size: 3.5rem;
}

.fund_wallet__button{
    padding: 10px;
    width: 200px;
    margin: 2rem 0 5rem 4rem;
    border-radius: 10px;
    background-color: #0e8a5e;
    color: #fff;
    font-weight: 700;
    border-color: #fff;
    font-style: normal;
    font-size: 1rem;


}


.dashboard__row{
    background-color: #fff;
    padding: 2rem 0 0 0 ;
    width: 250px;
    margin-left: 35px;
    border-radius: 10px;
 }

 .dashboard__row h4{
     text-align: center;
     color: #000000;
     margin-bottom: 4rem;
 }
 
 .analytics{
     display: flex;
     font-family: Sarala;
     margin: 0 0 0 20px;
 }

 .analytics__items{
     margin-right: 2rem;
     padding-bottom: 4rem;
 }

 .analytics__items h6{
     font-weight: 700;
 }

 .Ball{
     margin-right: 1rem;
 }

 
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .profile__setting, .bank__setting{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .profile__setting:hover {
      background-color: #f1f1f1;
    }

    .bank__setting:hover{
        background-color: #f1f1f1;
    } 

    .settings:hover .dropdown-content {
        display: block;
      }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
.profile__setting,.bank__setting {
    display: inline-block;
    text-align: center;
    color:  #808080;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  .profile__setting, .bank__setting, .dropdown {
    display: inline-block;
  }
  
  